@model String 
@{
    ViewData["Title"] = "Calculator";
}

<div class="text-center">
    <h1 class="display-4">Lets Crunch Some Numbers</h1>

    <form action="/Home/Index" method="post">
        <input type="text" name="evaluation" value="" />
    </form>

    <div>
        @Model
    </div>
</div>
