@model String
@{
    ViewData["Title"] = "Math is fun?";
}

<div class="text-center">
    <h1 class="display-4">Hello, @(Model == null ? "what's your name?" : $"{Model}" )</h1>

    <form action="/Home/Index" method="post">
        <input type="text" name="name" value="" />
    </form>
</div>