@model IEnumerable<CalculatorCore.Evaluation>

<style>
    #links {
        margin: 1em 0;
    }

    a {
        margin: 0 .4em;
    }

    table {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="text-center">

    <a class="nav-link text-dark" href="/calculator/history"><h2>History</h2></a>

    <span id="links">
        <a href="/calculator/history/add">ADD</a>
        <a href="/calculator/history/sub">SUB</a>
        <a href="/calculator/history/mul">MUL</a>
        <a href="/calculator/history/div">DIV</a>
        <a href="/calculator/history/mod">MOD</a>
    </span>

    <table>
        <thead>
            <tr>
                <th>Number1</th>
                <th>Operand</th>
                <th>Number2</th>
                <th>Equals</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evaluation in Model)
            {
                <tr>
                    <td>@evaluation.ShowNum1(ViewBag.IsFiltered)</td>
                    <td>@evaluation.Opperator</td>
                    <td>@evaluation.Num2</td>
                    <td>=</td>
                    <td>@evaluation.Answer</td>
                </tr>
            }
        </tbody>
    </table>
</div>